fieldset {
	width: 200px;
	margin: 40px auto;
	border: 2px solid black;
}

label {
	display: block;
	margin-bottom: 15px;

}



legend, .button {
	font-weight: bold;
	background-color: silver;
	color: blue;
	text-transform: uppercase;
}

legend {
	padding: 7px;
	border: 2px solid red;
}



h3{
	font-size: 25px;
	color: red;
	font-family:Verdana, sans-serif;
	text-align: center;
	
}

#botao{
	text-align: center;
}